body {
    font-family: "Poppins", sans-serif;
    background: #faf7f7;
    color: #0f0f0f;
    margin: 0;
}

/* NAVBAR */
.nav {
    background: #f8f7f7;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px #000;
}

.nav a {
    color: #0af;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px 10px;
    background: linear-gradient(135deg, #000, #181818);
}

.section-title {
    margin-left: 20px;
}

/* CARDS */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.card {
    width: 300px;
    background: #1c1c1c;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 0.25s;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px #0af;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    color: #aaa;
}

/* ARTICLE PAGE */
.article-container {
    width: 90%;
    max-width: 800px;
    margin: auto;
    padding: 25px;
}

.article-img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

.back {
    color: #0af;
    text-decoration: none;
}
